.contacto{
    background-color:lightsalmon;
    .contactito{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 60px;
    }
    .form{
        background-color: rgb(201, 197, 197);
        color: black;
        font-weight: bold;
    }
    .botonn{font-size: 24px;
        font-weight: bold;
        padding: 5px 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        border-radius: 10px;
        border: 2px solid rgba(0,0,0,0.5);
        color: white;
        background-color: rgb(63, 63, 63);
    }
    
    .botonn:hover{
        background-color: black;
    }






}