.footer { grid-area: footer; 
    color: $letra_blan;
    background-color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 10px;
    .fus{
        text-align: center;
        color: $letra_blan;
        text-decoration: none
    }
    .fus:hover{
        color: red;
    }
    .consult{
        font-size: 15px;
        word-spacing: 3px 
    }
    
}