.sobrenos{
    background-color: rgb(99, 99, 99);
    .qs{
        color: rgb(99, 158, 247);
        text-align: center;
       font-weight: bold;
       font-size: 40px;
       padding: 20px;
    }
    .qss{
        color:$letra_blan;
        font-size: 20px;
       word-spacing: 5px;
       line-height: 30px;
       margin-left: 10px;
       margin-bottom: 5px;  
    }
    .qsvid{
        width: 435px;
    }







}