.paggg{
    background-color: bisque;
    .grid-tiem {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #b8b7b7;
        border: 2px solid rgb(7, 2, 2);
        border-radius: 4px;  
        margin-left: 50px;
    }
    .grid-container{
        display: grid;
        grid-gap: 5px 5px;
        grid-template-columns: repeat(auto-fill, minmax (250px, 1 fr));
        grid-auto-rows: 1fr;
        gap: 10px;
        padding: 10px;
        margin: 10px;
        grid-auto-flow: dense;    
    }
    .im{
        width: 150px;
        height: 150px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        margin: 5px;
    }
    
    .testo{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        box-align:bottom    
    }
    .botoncito{
        font-size: 15px;
        font-weight: bold;
        padding: 5px 10px;
        margin: 15px;
        border-radius: 10px;
        border: 2px solid rgba(0,0,0,0.5);
        color: $letra_blan;
        background-color: $fondo_boton ;
    }
    
    .botoncito:hover{
        background-color: red;
    }




}