*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1{font-size: 50px;}
h2{font-size: 40px;}
h4{font-size:20px;}
p{font-size: 20px;}

.ini{
    background-color: rgb(128, 228, 228);
}

/*BARRA*/
.header{
    top:0
}
.lis:hover{ 
 background-color: rgb(29, 14, 226);
 border-radius: 20px;
}

/*IMAGEN INICIO*/
.section1 {
    display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   height: 90vh;
   background-image: linear-gradient( 0deg,
    rgba(0,0,0,0.5) , rgba(0,0,0,0.5)) 
    , url(/img/pricipal.jfif);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
    
}

.tituimp{
    color: white;
    font-size: 60px;
    font-weight: bolder;
}

/* BOTONES */
.boton{font-size: 24px;
    font-weight: bold;
    padding: 15px 20px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(247, 56, 56);
}
 
.boton:hover{
    background-color: red;
}


/*PARA ENVIOS Y TARJETAS*/
.section2{background-color: rgb(128, 228, 228);}
.envio{
    width:40px;
    margin: 20px;
    float: inline-start;
    align-items: center;
   
}
 
 .tarje{
    width:40px;
    margin: 20px;
    float: inline-end;
    align-items: center;
    
}
 
.tenvio{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}


/* CARRUSEL*/
.section3{
    background-color: rgb(128, 228, 228);
}
.inic{
    width:450px;
    height: 400px;
}

.bo{  
    padding: 5px 5px;
    text-decoration: none; 
    width: 100%;
    display: flex;
    justify-content: center;  
}

.botonnn{
    background-color: rgb(247, 56, 56);
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
}
.botonnn:hover{
    background-color: red;
}

/* RECOMENDACIONES */

.card{ 
    display: flex;
    box-shadow: 0px 1px 10px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: rgb(161, 160, 160);
    border-radius: 5px;
    width:430px;
    height:250px;
}
.recomen{
    
   width: 150px;
   height: 130px;
   border-radius: 50%;
   padding: 7px;
 
}
.recome{
    font-size: 14px;
    color: rgb(10, 6, 8);
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, .2);
}



/* FOOTER*/
.footer { grid-area: footer; 
    color: white;
    background-color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 10px;
    
}
 
.fus{
    text-align: center;
    color: white;
    text-decoration: none
}
.fus:hover{
    color: red;
}
 
   
.consult{
    font-size: 15px;
    word-spacing: 3px 
}


/*PRODUCTOS */
.paggg{
    background-color: bisque;
}
.grid-tiem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b8b7b7;
    border: 2px solid rgb(7, 2, 2);
    border-radius: 4px;  
    margin-left: 50px;
}
  
.grid-container{
    display: grid;
    grid-gap: 5px 5px;
    grid-template-columns: repeat(auto-fill, minmax (250px, 1 fr));
    grid-auto-rows: 1fr;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    grid-auto-flow: dense;    
}


.im{
    width: 150px;
    height: 150px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin: 5px;
}

.testo{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    box-align:bottom    
}

.botoncito{
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 15px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(233, 52, 6);
}

.botoncito:hover{
    background-color: red;
}



/*SOBRE NOSOTRS */

.sobrenos{
background-color: rgb(99, 99, 99);
}

.qs{
    color: rgb(99, 158, 247);
    text-align: center;
   font-weight: bold;
   font-size: 40px;
   padding: 20px;
}
 
.qss{
    color: rgb(224, 222, 222);
    font-size: 20px;
   word-spacing: 5px;
   line-height: 30px;
   margin-left: 10px;
   margin-bottom: 5px;  
}

.qsvid{
    width: 435px;
}

/*CONTACTO*/
.contacto{
 background-color:lightsalmon;
 
}
.contactito{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 60px;
}

.form{
    background-color: rgb(201, 197, 197);
    color: black;
    font-weight: bold;
}
.botonn{font-size: 24px;
    font-weight: bold;
    padding: 5px 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(63, 63, 63);
}

.botonn:hover{
    background-color: black;
}

/*DESTOKP*/
@media only screen and (min-width: 1200px){
      /* PRODUCTOSS */
    .section3{   
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    /* TARJETA Y ENVIO */
    .tenvio{font-size: 20px;}
     
    .envio{
        width:50px;
        margin: 30px;
        float: inline-start;
        align-items: center;   
    }
     
    .tarje{
        width:50px;
        margin: 30px;
        float: inline-end;
        align-items: center;  
    }
    
    /* RECOMENDACIONES */
    .section4{
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 20px 60px;
        padding: 20px;
        background-color: rgb(68, 87, 255);
    }
     
     
    .card{ background-size: cover;
        display: flex;
        overflow: hidden;
        box-shadow: 0px 1px 10px;
        padding: 10px;
        margin: 15px;
        background-color: rgb(161, 160, 160);
        border-radius: 15px;
    }
     
    .recomen{
        display: flex;
        width: 100px;
        height: 100px;
        border-radius: 20%;
    }
     
    .recome{
        display: flex;
        font-size: 15px;
        color: rgb(10, 6, 8);
       text-align: center; 
    }
    
    /* SOBRE NOSOTROS */
    .qs{font-size: 80px;}
    .qss{ font-size: 25px;}
    .qsvid{
        width: 1080px;
        height: 1920;
        margin-left: 15%;
        padding:20px;
    }  

    /* PAGINA PRODUCTOS*/
    .grid-container{
        display: grid;
        grid-gap: 15px 15px;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-auto-rows: auto;
        gap: 10px;
        padding: 20px;
        margin: 10px;
        grid-auto-flow: dense;}
    

}




/* TABLETS*/
@media only screen and (min-width: 768px){
    /* PAFINA PRODUCTOS*/
    .grid-container{
        display: grid;
        grid-gap: 15px 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        gap: 10px;
        padding: 20px;
        margin: 10px;
        grid-auto-flow: dense;}
}

